.about{
    height: 150vh;
    background-image: linear-gradient(top, #242424, #ffffff00), linear-gradient(180deg, #ffffff00, #242424), url(img/toronto-skyline.jpeg);
    filter: grayscale(30%);
    position: relative;
    display: flex;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.about-toronto{
    background-color: rgba(26, 26, 26, 0.212);
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(24, 24, 24);
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    width: 80vw;
    margin-top: 10%;
    border-radius: 15px 50px 30px;
    border: 5px solid white;
    padding: 5%;
    align-items: center;
    color: white;
}

.title{
    display: flex;
    text-align: center;
    text-shadow: 2px 2px rgb(56, 56, 56);
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    @include phone {
        font-size: 3rem;
      }
      @include desktop {
        font-size: 5rem;
      }
    
}

.text{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px rgb(56, 56, 56);
    @include phone {
        font-size: 1rem;
      }
      @include desktop {
        font-size: 4rem;
      }
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 5rem;
    margin-top: 3%;
}

.image-bar{
    max-height: 40rem;
}
.image-lake{
    max-height: 40rem;
}
.image-caesar{
    max-height: 40rem;
}
