.header{
    display: flex;
    height:110vh;
    justify-content: center;
}

.header1 {
    height: 90vh;
    width: 100vw;
    background-image: linear-gradient(180deg, #ffffff00, rgba(255, 255, 255, 0.699)), url(img/toronto-above.jpeg);
    filter: grayscale(50%);
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header2{
    display: flex;
    height: 40vh;
    width: 80vh;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
}

.headerprimary{
    font-family: "Roboto" ;
    font-style: normal;
    font-weight: bold;
    font-size: 12rem;
    color: white;
    line-height: 14rem;
    display: flex;
    text-align: center;
    letter-spacing: 0.2rem;
    
}

.headersecondary{
    font-family: "Roboto" ;
    font-style: normal;
    font-weight: 200;
    font-size: 4rem;
    line-height: 6rem;
    color: white;
    align-items: center;
    display: flex;
    text-align: center;
    letter-spacing: 0.05rem;
}