.header3{
    height:120vh;
    background-image: linear-gradient(top, color(dark), #ffffff00), linear-gradient(180deg, #ffffff00, color(dark)), url(img/toronto-above.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.slideshow{
    display:flex;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
}

.slideshow-title{
    margin-top: 5%;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    color: color(secondary);
    font-size: 10rem;
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(56, 56, 56);
}

.slideshow-gallery{
    display:flex;
    margin-top: 5%;
    justify-content: center;
}

.display-left{
    display: flex;
    box-shadow:inset 0px -3px 7px 0px #55656e;
	background:linear-gradient(to bottom, #55656e 5%, #55656e 100%);
    background-color:#55656e;
    text-shadow:0px 1px 8px #adadad;
}

.display-right{
    display: flex;
    box-shadow:inset 0px -3px 7px 0px #55656e;
	background:linear-gradient(to bottom, #55656e 5%, #55656e 100%);
    background-color: #55656e;
    text-shadow:0px 1px 8px #adadad;
}