@import "./variables";
@import "./header";

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #e9e9e9;
}


.history{
    height: 150vh;
    background-image: linear-gradient(top, #e9e9e9, #ffffff00), linear-gradient(180deg, #ffffff00, #e9e9e9), url(img/toronto-skyline.jpeg);
    filter: grayscale(30%);
    position: relative;
    display: flex;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    flex: row-reverse;
}





.header3{
    height:70vh;
}
